header {
  min-height: 150px;
}

main {
  min-height: 200px;
  background-color: black;
}
aside {
  min-height: 200px;
  background-color: #0282f9;
  .nav {
    a {
      color: white;
    }
  }
}

footer {
  background-image: url("./img/footer-bg.jpg");
  background-size: cover;
  .list {
    ul {
      padding: 0px;
      li {
        a {
          text-decoration: none;
          color: grey;
        }
      }
    }
  }
  .downFooter {
    background-color: #303030;
    min-height: 150px;
  }
}
