body {
  font-family: "Open Sans", sans-serif;
}
header {
  min-height: 150px;
  .nav-link {
    color: black;
  }
}

.bg_jumbo {
  min-height: 600px;
  background-image: url("./img/jumbotron.jpg");
  background-size: cover;
  background-position: top;
}
.margin_neg {
  margin-top: -20px;
}
main {
  background-color: #303030;
  .title_prod {
    display: inline-block;
    background-color: #0282f9;
    margin-top: -20px;
  }
  .comicImg {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
  }

  .card {
    border: none;
    background-color: #303030;
    color: #ffffff;
    .card-img-top {
      height: 200px;
    }
    .card-body {
      background-color: #303030;
    }
  }
  .btn {
    background-color: #0282f9;
    color: #ffffff;
    border-radius: 0px;
    &:hover {
      border: 1px solid #0282f9;
    }
  }
}
aside {
  min-height: 300px;
  background-color: #0282f9;

  a {
    text-decoration: none;
    color: white;
  }
}

footer {
  background-image: url("./img/footer-bg.jpg");
  background-size: cover;
  .list {
    ul {
      padding: 0px;
      li {
        a {
          text-decoration: none;
          color: grey;
        }
      }
    }
  }
  .downFooter {
    background-color: #303030;
    min-height: 150px;
    .text_blue {
      color: #0282f9;
    }
    .sign {
      border: 1px solid #0282f9;
      text-decoration: none;
      color: white;
    }
  }
}
