body {
  font-family: "Open Sans", sans-serif;
}
header {
  min-height: 150px;
  .nav-link {
    color: black;
  }
}

main {
  min-height: 200px;
  background-color: black;

  .card {
    background-color: black;
    color: #ffffff;
    .card-img-top {
      height: 200px;
    }
    .card-body {
      background-color: black;
    }
    .btn {
    }
  }
}
aside {
  min-height: 300px;
  background-color: #0282f9;

  a {
    text-decoration: none;
    color: white;
  }
  .cardP {
    width: 150px;
  }
}

footer {
  background-image: url("./img/footer-bg.jpg");
  background-size: cover;
  .list {
    ul {
      padding: 0px;
      li {
        a {
          text-decoration: none;
          color: grey;
        }
      }
    }
  }
  .downFooter {
    background-color: #303030;
    min-height: 150px;
    .text_blue {
      color: #0282f9;
    }
    .sign {
      border: 1px solid #0282f9;
      text-decoration: none;
      color: white;
    }
  }
}
